{% extends "base.html" %}
{% load static %}
{% block content %}
       
        
<section class="hero pb-0 bg-dark" id="section_1" style="position: relative; display: inline-block; text-align: center; color: white;">
    <img src="{% static 'images/tech-girl-1.jpg' %}" alt="Hero Image" class="techgirl" style="max-width: 100%; height: auto; display: block;">
    <div class="hero-text" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
        <h6>Welcome To Megatechnologies</h6>
        <p class="text-white">Here is More than a home of Technology!</p>
    </div>
</section>

            <section class="book-section section-padding" id="section_2">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-6 col-12">
                            <img src="{% static 'images/coding-image.jpg' %}" class="img-fluid scrollspy-example-item-image" alt="">
                        </div>

                        <div class="col-lg-6 col-12">
                            <div class="book-section-info">
                                <h2 class="mb-4">About Us</h2>

                                <p> <strong>MegaTechnologies</strong> is a leading provider of software development and ICT solutions.  Our team comprises highly skilled developers,
                                 engineers, and project managers with expertise in  cloud computing, mobile app development, cybersecurity, as well as AI/ML.  We specialize in  developing enterprise software,
                                  building web applications, implementing network infrastructure. 
                                  Our commitment to quality, innovation, and client satisfaction sets us apart.  We leverage the latest technologies and agile methodologies to deliver solutions that are scalable,
                                 reliable, and cost-effective.</p>
                            </div>
                        </div>

                    </div>
                </div>
            </section>


            <section id="section_4">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-12 col-12 text-center">
                            <h6>What are we Deliver?</h6>

                            <p class="mb-5">At <strong>MegaTechnology</strong>, we're not just building software; we're shaping the future. We leverage cutting-edge technologies and a passion for innovation to deliver transformative solutions that empower 
                            our clients to thrive in the ever-evolving digital landscape.Our services are not Limited to:</p>
                        </div>

                        <div class="col-lg-4 col-12">
                            <nav id="navbar-example3" class="h-100 flex-column align-items-stretch">
                                <nav class="nav nav-pills flex-column">
                                    <a class="nav-link smoothscroll" href="#item-1">Software Development & Integration</a>

                                    <a class="nav-link smoothscroll" href="#item-2">IT Consulting & Support</a>

                                    <a class="nav-link smoothscroll" href="#item-3">Cloud Solutions & Infrastructure</a>

                                    <a class="nav-link smoothscroll" href="#item-4">Cybersecurity & Data Protection</a>

                                    <a class="nav-link smoothscroll" href="#item-5">Network & Communication Solutions</a>
                               
                                </nav>
                            </nav>
                        </div>

                        <div class="col-lg-8 col-12">
                            <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0">
                                <div class="scrollspy-example-item" id="item-1">
                                    <h5>Software Development & Integration</h5>

                                    <p>We transform your business with custom software
 solutions tailored to your unique needs. Our experienced developers build high-quality, 
 scalable, and user-friendly applications that streamline your operations, enhance productivity, 
 and drive innovation. We specialize in web application development, mobile app development, 
 custom software development, API integration.
  From concept to deployment and beyond, we partner with you to deliver solutions
 that meet your business goals and exceed your expectations.</p>
                  <div class="row">
                              <div class="col-lg-6 col-12 mb-3">
                                            <img src="{% static 'images/coding-image-2.jpg' %}" class="scrollspy-example-item-image img-fluid " alt="">
                                        </div>
                                    
                                    <div class="col-lg-6 col-12 mb-3">
                            <img src="{% static 'images/coding-image.jpg' %}" class=" scrollspy-example-item-image img-fluid" alt="">
                        </div>
                                </div>
                                </div>

                                <div class="scrollspy-example-item" id="item-2">
                                    <h5>IT Consulting & Support</h5>
                               
                                    <p> 
Maximize your IT investments with our expert IT consulting and support services.
 Our experienced consultants provide strategic guidance,
  helping you align your technology investments with your business objectives. 
  We offer IT strategy development, technology assessments, 
  IT project management, and ongoing IT support.
   Our proactive approach ensures your systems run smoothly, minimizing downtime and maximizing efficiency.
    We're your trusted technology advisor, empowering you to make informed decisions and achieve your business goals.</p>

                                    
                                    <div class="row">
                                        <div class="col-lg-6 col-12 mb-3">
                                            <img src="{% static 'images/tech-girl-2.jpg' %}" class="scrollspy-example-item-image img-fluid" alt="">
                                        </div>

                                        <div class="col-lg-6 col-12 mb-3">
                                            <img src="{% static 'images/coding-image-2.jpg' %}" class="scrollspy-example-item-image img-fluid" alt="">
                                        </div>
                                   
                                <div class="scrollspy-example-item" id="item-3">
                                    <h5>Cloud Solutions & Infrastructure</h5>

                                    <p> 
Unlock the power of the cloud with our comprehensive cloud solutions. 
We help you migrate your infrastructure, applications, and data to the cloud, ensuring scalability, security, and cost-efficiency. 
Our services include cloud strategy consulting, migration planning and execution, cloud infrastructure management, and ongoing support.
 Whether you're leveraging AWS, Azure, Google Cloud, or a hybrid approach, we tailor solutions to meet your specific business needs and drive innovation.
</p>

                                    <div class="row align-items-center">
                                        <div class="col-lg-6 col-12">
                                            <img src="{% static 'images/tech-girl-3.jpg' %}" class=" scrollspy-example-item-image img-fluid" alt="">
                                        </div>
                                            <div class="col-lg-6 col-12 mb-3">
                                            <img src="{% static 'images/wire-connectors.jpg' %}" class="scrollspy-example-item-image img-fluid" alt="">
                                        </div>
                                        
                                    </div>
                                </div>

                                <div class="scrollspy-example-item" id="item-4">
                                    <h5>Cybersecurity & Data Protection</h5>

                                    
                                    <p>

Safeguard your business from evolving cyber threats with our robust cybersecurity solutions. 
We offer a comprehensive suite of services, including vulnerability assessments, penetration testing, security audits, threat detection and response,
 data encryption, and security awareness training.
 Our expert team helps you identify and mitigate risks, ensuring the confidentiality, integrity, and availability of your critical data and systems.
  We stay ahead of the curve to protect your business from the latest security challenges.We work under the  standards which adhere ISO.

</p>

                                    <img src="{% static 'images/security-image.jpg' %}" class="scrollspy-example-item-image img-fluid mb-3" alt="">

                                    
                                </div>

                                <div class="scrollspy-example-item" id="item-5">
                                    <h5>Network & Communication Solutions</h5>

                                    <p> 

Build a strong foundation for your business with our reliable and high-performance network and communication solutions. 
We design, implement, and manage your network infrastructure, ensuring seamless connectivity, optimized performance, and robust security.
 Our services include network design and installation, network security implementation, VoIP solutions, unified communications, and network monitoring and maintenance.
  We empower your team to collaborate effectively and stay connected.</p>

 <img src="{% static 'images/narrow-wire-connectors.jpg' %}" class="scrollspy-example-item-image img-fluid mb-3" alt="">

                                    
                                   
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>


            <section class="author-section section-padding pt-5" id="section_4">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-6 col-12">
                            <img src="{% static 'images/cassian.jpg' %}" class="author-image img-fluid" alt="">
                        </div>

                        <div class="col-lg-6 col-12 mb-5 mt-lg-0">
                            <h6>Meet the CEO</h6>

                            <h2 class="mb-4">Cassian Shao, CEO & Founder</h2>

                            <p>I'm a self-taught software developer and businessman driven by a passion for technology's transformative power. 
                             I founded Mega Technology with a vision to  <strong>empower businesses through innovative software solutions, and create a future where technology solves real-world problems </strong>. 
                              I believe in the power of perseverance, continuous learning, and a relentless pursuit of excellence.  At Mega Technology, we're not just building software; we're building the future.

</p>

                        </div>

                    </div>
                </div>
            </section>
            <section class="reviews-section section-padding" id="section_4">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-12 col-12 text-center mb-5">
                            <h6>Reviews</h6>

                            <h2>What people saying...</h2>
                        </div>

                        <div class="col-lg-4 col-12">
                            <div class="custom-block d-flex flex-wrap">
                                <div class="custom-block-image-wrap d-flex flex-column">
                                    <img src="{% static 'images/hellen.jpg' %}" class="img-fluid avatar-image" alt="">

                                    <div class="text-center mt-3">
                                        <span class="text-white">Hellen Kennedy</span>

                                        <strong class="d-block text-white">Stylist</strong>
                                    </div>
                                </div>

                                <div class="custom-block-info">
                                    <div class="reviews-group mb-3">
                                        <strong>4.5</strong>

                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star"></i>
                                    </div>

                                    <p class="mb-0">Mega technologies,delivers real and valuable results,
                                    Its more than impactfully investment in this tech era!</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-12 my-5 my-lg-0">
                            <div class="custom-block d-flex flex-wrap">
                                <div class="custom-block-image-wrap d-flex flex-column">
                                    <img src="{% static 'images/gody.jpg' %}" class="img-fluid avatar-image avatar-image-left" alt="">

                                    <div class="text-center mt-3">
                                        <span class="text-white">John Ewald</span>

                                        <strong class="d-block text-white">Bussinessman</strong>
                                    </div>
                                </div>

                                <div class="custom-block-info">
                                    <div class="reviews-group mb-3">
                                        <strong>3.5</strong>

                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star"></i>
                                        <i class="bi-star"></i>
                                    </div>

                                    <p class="mb-0">Mega technologies become the problem solver,
                                    they solved our problem quickly and efficiently.Highly recommended!</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-12">
                            <div class="custom-block d-flex flex-wrap">
                                <div class="custom-block-image-wrap d-flex flex-column">
                                    <img src="{% static 'images/tedy.jpg' %}" class="img-fluid avatar-image" alt="">

                                    <div class="text-center mt-3">
                                        <span class="text-white">Theresia Mkenda</span>

                                        <strong class="d-block text-white">Blogger</strong>
                                    </div>
                                </div>

                                <div class="custom-block-info">
                                    <div class="reviews-group mb-3">
                                        <strong>5</strong>

                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star-fill"></i>
                                        <i class="bi-star-fill"></i>
                                    </div>

                                    <p class="mb-0">Easy to use and great support, 
                                    your company has just streamlined our operations,thankyou!</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>


    
        {% endblock %}